{% extends 'base.html' %}

{% block content %}
{% load my_tags %}
<div class="container">
    <form method="post" action="{% url 'snippet-edit' snippet.id %}">
        <fieldset {% if not edit %} disabled {% endif %}>
            <div class="row disabled">
                <div class="col col-8">
                    Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                </div>
                <div class="col col-4">
                    Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                        <img src="{{ MEDIA_URL }}{{ snippet.image }}">
                </div>
                <div class="col-8">
                    <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                        {% if not edit %}
                        <p>
                            {{ snippet.code | format_code | safe }}
                        </p>
                        {% else %}
                        <textarea name="code">
                        {{ snippet.code }}
                        </textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>
        {% if edit %}
        <button type="submit">Сохранить</button>
        {% endif %}
    </form>
    <table border="1">
        <tr>
            <th>Автор</th>
            <th>Комментарий</th>
        </tr>
        {% for comment in snippet.comments.all %}
        <tr>
            <td>{{comment.author.username}}</td>
            <td>{{comment.text}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'comment_add' %}">
        {% csrf_token %}
        <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
        <table>
            {{ form_comment.as_table }}
        </table>
        <button type="submit">
            Отправить
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}